!!! 5

%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'}
    %meta{content: "IE=edge,chrome=1", :"http-equiv" => "X-UA-Compatible"}
    %link{rel: "icon", type: "image/x-icon", href: "#{image_path('favicon.ico')}"}

    %title #{current_page.data.title || "Hey!"}

    = stylesheet_link_tag "all"
    = javascript_include_tag "all"
    %script{async: true,  src: "https://static.medium.com/embed.js"}

    %body
      = yield
