!!! 5

%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'}
    %meta{content: "IE=edge,chrome=1", :"http-equiv" => "X-UA-Compatible"}
    %link{rel: "icon", type: "image/x-icon", href: "#{image_path('favicon.ico')}"}

    %title #{current_page.data.title || "Hey!"}

    = stylesheet_link_tag "all"
    = javascript_include_tag "all"
    %script{async: true,  src: "https://static.medium.com/embed.js"}

  %body
    .container#wrapper
      .row#logo
        .col-xs-12
          #logo-img
            %span.hidden-xs Ejay
            %a#home-btn{href: '/'}
              = image_tag 'logo_hex.png', width: '130px'
            %span.hidden-xs Canaria
      .row#content-area
        .col-xs-12
          .row#navigation
            .col-xs-12
              %ul
                %li
                  %a{href: '/about'} About
                %li
                  %a{href: '/blog'} Blog
                %li
                  %a{href: '#'} CV
          .row#main-content
            .col-md-8.col-md-offset-2.col-xs-12
              = yield
          .row#footer
            .col-xs-12
              Handcrafted using
              %a{href: 'http://getbootstrap.com/', target: '_blank'} Bootstrap
              and
              %a{href: 'http://middlemanapp.com/', target: '_blank'} Middleman
