---
title: Ejay Canaria | About
---

%h1.page-title About

%p
  My real name is
  %b Edgardo P. Canaria Jr.
  They usually call me
  %b Ejay
  because Edgardo not just sounds old but it's a bit long as well. What does Ejay stands for? You're wrong. It's not Edgardo Jr. My mother told me that she read the name Ejay in a pocket book and decided to have that as my nickname. It actually stands for nothing.
%p
  = image_tag 'childhood.jpg'
%p
  I was born in Cavite, Philippines. I grew up in a town in Cavite called Rosario. I live in Mandaluyong, Manila during weekdays and in my hometown in Rosario during weekends.

%p
  I play the guitar. I learned how to play it back in high school with my friends. We always dreamt of having a band back then.

%p
  I took
  %b Information Technology
  in college and graduated in 2012. I ended up a programmer. I'm lucky to find the things I love doing early in my career. I love being a programmer. I'm currently doing my stuffs in
  %a{href: 'http://rubyonrails.org/', target: '_blank'} Ruby on Rails.

%p
  You can also find me in:
%p
  .other-links
    %a{href: 'https://github.com/ejaypcanaria/', target: '_blank', alt: 'Github', title: 'Github'}
      = image_tag 'github.png'
    %a{href: 'http://www.quora.com/Ejay-Canaria', target: '_blank', alt: 'Quora', title: 'Quora'}
      = image_tag 'quora.png'
    %a{href: 'https://www.facebook.com/iamejay', target: '_blank', alt: 'Facebook', title: 'Facebook'}
      = image_tag 'facebook.png'
    %a{href: 'http://ph.linkedin.com/pub/edgardo-jr-canaria/68/916/b3a', target: '_blank', alt: 'LinkedIn', title: 'LinkedIn'}
      = image_tag 'linkedin.png'
    %a{href: 'https://twitter.com/iamejay', target: '_blank', alt: 'Twitter', title: 'Twitter'}
      = image_tag 'twitter.png'
